


html {

    background: black;
}

body {

    background-color: black;
    text-shadow: 1px 1px 1px grey;
    overflow: hidden;
}

.main-body {
    background: linear-gradient(to right, rgba(0, 0, 150, 1) , rgba(0, 0, 50, .1));
    background-size: cover;
    visibility: visible;


}
#alertsWindow {
    color: white;
    text-align: center;
    background: red;
    visibility: hidden;
}

.refersize{
    height: 118px;
    overflow: hidden;
    
}
.refer-heading{
    background: dodgerblue;

}
.refer-1-plot {
 background: linear-gradient(to right, #6DB06D , #6DB06D);
}
.refer-1-info {
    background: linear-gradient(darkseagreen, #AAE3B9, darkseagreen);
    text-align: center;
    border: 7px solid #6DB06D;

    
}
.refer-2-plot {
    background: linear-gradient(to right, #6DB05A , #6DB06D);
}
.refer-2-info {
    background: linear-gradient(darkseagreen, #AAE3B9, darkseagreen);
    text-align: center;
    border: 7px solid #6DB06D;
}

.refer-3-plot {
    background: linear-gradient(to right, #6DB06D , #6DB06D);

}
.refer-3-info {
    background: linear-gradient(darkseagreen, #AAE3B9, darkseagreen);
    text-align: center;
    border: 7px solid #6DB06D;

}
.refer-4-plot {
    background: linear-gradient(to right, #6DB05A , #6DB06D);

}
.refer-4-info {
    background: linear-gradient(darkseagreen, #AAE3B9, darkseagreen);
    text-align: center;
    border: 7px solid #6DB06D;

}
.refer-5-plot {
    background: linear-gradient(to right, #6DB06D , #6DB06D);

}
.refer-5-info {
    background: linear-gradient(darkseagreen, #AAE3B9, darkseagreen);
    text-align: center;  
    border: 7px solid #6DB06D;

}


.current-weather {

    
    background: #EEDEEE;
    height:75px;


}
.five-day {
    background: #DDEEDD;
    height:103px;
    text-align: center;

}

.fore1{
    border: 1px solid gray;
    height:103px;
    padding-top:5px;
    line-height: 15px;
    

}

.forecast {
    white-space:  nowrap;
    font-size: 16px;
    text-shadow: 1px 1px 1px gray;

}
.outdoor-cond {
    padding: 0px;
    padding-top: 6px;
    font-size: 19px;
    text-shadow: 1px 1px 1px green;
}

.facebook-feed {
    text-shadow: 1px 1px 1px rgba(255, 0, 0, .6);
    position:relative;
    padding-top: 30px;
    
 
}
.front-room {
    background: linear-gradient(to right, rgba(0, 0, 120, .5) , rgba(0, 0, 50, .1));
    border: 1px solid black;
    position: relative;
    width: 295px;
    height: 200px;
    right: 29px;
    top: 45px;


}
.middle-room{
    background: linear-gradient(to right, rgba(0, 0, 120, .5) , rgba(0, 0, 50, .1));
    border: 1px solid black;
    position: relative;
    width: 295px;
    height: 200px;
    right: 29px;
    top: 45px;
 

}
.kitchen {
    background: linear-gradient(to right, rgba(0, 0, 120, .5) , rgba(0, 0, 50, .1));
    border: 1px solid black;
    position: relative;
    width: 295px;
    height: 200px;
    right: 29px;
    top: 45px;

}
.system-mode {
    position: relative;
    height: 121px;
    width: 295px;
    right: 29px;
    top: 45px;
    text-align: center;
    background: linear-gradient(black, green);
    color: #EEEEED;
    border: 1px solid white;



}

.stat-readouts {
    font-size: 65px;
    text-shadow: none;
}
.set-at {
    font-size: 22px;
    text-shadow: none;

}

#tempFrontRoom {
    position:fixed;
    top:110px;
    right:132px;

}
#humFrontRoom {
    position:fixed;
    top:75px;
    right:187px;
    font-size:35px;

}
#tempMiddleRoom {
    position:fixed;
    top:310px;
    right:132px;

}
#humMiddleRoom {
    position:fixed;
    top:275px;
    right:187px;
    font-size:35px;

}
#tempKitchen {
    position:fixed;
    top:510px;
    right:132px;

}
#humKitchen {
    position:fixed;
    top:475px;
    right:187px;
    font-size:35px;

}

#setAtFront {
    position:fixed;
    top:80px;
    right:80px;

}
#setAtMiddle {
    position:fixed;
    top:280px;
    right:80px;

}
#setAtKitchen {
    position:fixed;
    top:480px;
    right:80px;

}


.logo-block {
    background: seagreen;
}

.clock{
    white-space: nowrap;
    height:30px;
    position: absolute;
    right: 25px;
    padding-top:2px;
    font-size: 30px;
    color: #FFFFAA;
    text-shadow: 1px 1px 1px black;
}

.disabled {
    color: grey;
    font-size: 30px;
}