




body {
    background-color: rgb(230, 225, 225);
    
    overflow: hidden;
}

.main-body {
    background: linear-gradient(to right, rgba(0, 0, 150, 1) , rgba(0, 0, 50, .1));
    background-size: cover;;

}

.refersize{
    height: 95px;
    
}
.refer-heading{
    background: dodgerblue;

}
.refer-1-plot {
    background: lightblue;

}
.refer-1-info {
    background: darkseagreen;
    
}
.refer-2-plot {
    background: lightsteelblue;

}
.refer-2-info {
    background: lightyellow;
    
}
.refer-3-plot {
    background: lightblue;

}
.refer-3-info {
    background: darkseagreen;
    
}
.refer-4-plot {
    background: lightsteelblue;

}
.refer-4-info {
    background: green;
    
}
.refer-5-plot {
    background: lightblue;

}
.refer-5-info {
    background: darkseagreen;
    
}
.refer-6-plot {
    background: lightsteelblue;

}
.refer-6-info {
    background: green;
    
}
.current-weather {
    background: red;
    height:75px;

}
.five-day {
    background: rebeccapurple;
    height:75px;

}
.side-element {



}
.facebook-feed {
    text-shadow: 1px 1px 1px rgba(255, 0, 0, .6);
    position:relative;
    padding-top: 20px;
    
 
}
.sidebar {
  
  

}
.logo-block {
    background: seagreen;
}

.clock{
    height:30px;
    float:right;
    padding-top:5px;
    font-size: 30px;
}